@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Indie+Flower&family=Poppins:ital,wght@0,200;0,300;0,600;1,400&display=swap');

html {
    background-image: linear-gradient(60deg, #08032b 0%, #2e112d 100%);
}

body {
    color: white;
    font-family: Poppins;
   
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}
ul li.NaoRealizada {
    list-style-type: '☐';
    cursor: pointer;
    text-indent: 10px;
    color: white;
}

ul li.Realizada {
    list-style-type: '☑'; 
    cursor: pointer;
    text-indent: 10px;
    color: darkgoldenrod;
    text-decoration: line-through;
}

span {
    padding-right: 20px;
    text-align: left;
}